@font-face {
  font-family: 'Akira';
  src: url('fonts/AkiraExpandedDemo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sandra';
  src: url('fonts/Sandra.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("images/home_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;        /* makes it fill the screen */
  background-position: center;   /* centers the image */
  background-attachment: fixed;  /* keeps it static while scrolling */
}

nav {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: larger;
  font-family: 'Sandra', sans-serif;
  margin: 50px;
  gap: 30px;
  color: #302f2b;
}

nav a {
  text-decoration: none;  
  color: inherit;       
}

nav a:hover {
  opacity: 0.6;              
}

nav a:visited {
  color: inherit;       
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #302f2b;
}

.home img {
  width: 400px
}

.home p {
  max-width: 750px;
}

.home ul {
  max-width: 750px;
  font-size: large;
}

.home h1 {
  font-size: xx-large;
}

.list {
  display: flex;
  justify-content: flex-start;
  margin-left: 0;
  padding-left: 200px;
  font-family: 'Akira', serif;
  color: #302f2b;
}

.list h1 {
  font-size: 100px;
  margin: 0;
  display: inline-block;
  transition: all 0.5s ease;
}

.list h1:hover {
  opacity: 0.6;              
  transform: translateX(30px);
}

.list a {
  text-decoration: none;  
  color: inherit;         
}

.list a:visited {
  color: inherit;         
}

.portfolio {
  font-family: 'Akira', serif;
  color: #302f2b;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
} 

.portfolio p {
  max-width: 750px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.portfolio a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: inherit;    
}

.portfolio a:hover {
  opacity: 0.6;              
}

.portfolio a:visited {
  color: inherit;       
}

.portfolio img{
  max-width: 200px;
}

.qualifications {
  font-family: 'Akira', serif;
  color: #302f2b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qualifications p {
  text-align: center;
  max-width: 800px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.qualifications a {
  color: inherit;    
}

.qualifications a:hover {
  opacity: 0.6;              
}

.qualifications a:visited {
  color: inherit;       
}

.qualifications_mid {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Akira', serif;
  color: #302f2b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qualifications_list {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #302f2b;
  display: grid;
  grid-template-columns: 200px auto 400px; /* left flexible, right fixed width */
  column-gap: 40px; /* space between */
  justify-content: center;
  gap: 40px;
  align-items: flex-start;
}

.qualifications_list img {
  max-width: 150px;
  margin-right: 20px;
}

.qualifications_list h1,
.qualifications_list h3 {
  margin: 0 0 5px 0
}

.qualifications_list li {
  max-width: 750px;
}

.qualifications_bottom {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #302f2b;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.embed {
  display: block;        /* <embed> is replaced element, not flex container */
  margin: 0 auto;        /* centers it horizontally */
  width: 80%;
  height: 600px;
}
